<!-- contenedores X2 -->

<div fxLayout="row" align-self="center" fxLayoutGap="20px" style="max-width:fit-content" fxLayoutAlign="space-evenly center" class="center-recuadro recuadro-top">



    <div fxFlex="40">
        <p style="color: #fff">Empresa dedicada a la fabricación de muebles de acero inoxidable para hogar , negocio e industrial, Cómo mesas de trabajo , repisas , equipo de restaurante , fabricación sobre diseño para industria maquiladora
            <b>Calle torreón 306 otay magisterial CP. 22470 Tijuana baja California</b></p>
    </div>





    <!--  -->
    <div fxLayoutGap="20px " fxFlex="100" align-self="center ">



        <img fxFlex="100 " style="height: 500px; width: 650px ; " [src]="url " class="center-img " alt="imagen-1 " width="800 " height="950 ">



    </div>




</div>