<!-- contenedores X2 -->

<div fxLayout="row" style="max-width:fit-content" fxLayoutAlign="space-evenly center" class="center-recuadro recuadro-top">

    <div fxLayoutGap="20px" align-self="center">



        <div>

            <h5>Empresa dedicada a la fabricación de muebles de acero inoxidable para hogar , negocio e industrial, Cómo mesas de trabajo , repisas , equipo de restaurante , fabricación sobre diseño para industria maquiladora
                <b>Calle torreón 306 otay magisterial CP. 22470 Tijuana baja California</b></h5>

        </div>



    </div>
    <!--  -->
    <div fxLayoutGap="20px " fxFlex="100" align-self="center ">



        <img fxFlex="100 " style="height: 500px; width: 650px ; " [src]="url " class="center-img " alt="imagen-1 " width="800 " height="950 ">



    </div>




</div>