.carrusell-top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

row {
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.M-prinsipal {
    /* margin-top: 20px; */
    margin: 30px;
}

.M-secundario {
    margin: 30px;
}

.Pos-correo {
    margin-left: 20px;
}

.recuadro-correo {
    background-color: #212121;
    width: 625px;
    height: 455px;
    margin-left: 80px;
    border-radius: 5px 5px 5px 5px;
}

.barra-sup-correo {
    margin-bottom: 30px;
    background-color: rgba(151, 1, 1, 0.829);
    border-radius: 5px 5px 0px 0px;
}


/* Barra de mensaje */

.h2 {
    font: 500 20px/60px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    color: #fff;
    padding-left: 20px;
}

.mapa-borde {
    border-radius: 5px 5px 5px 5px;
}

.color-letra-inputs {
    color: #fff;
}


/* BOTON ENVIAR */

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.boton-enviar {
    height: 40px;
    width: 282px;
    left: 100px;
    bottom: 30px;
    background-color: rgba(34, 170, 34, 0.733);
    color: white;
}