<mat-toolbar class="nav-menu-sombra">

    <button routerLink="/productos/puertas" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="color-icono">engineering</mat-icon>
      </button>
    <span class="color">Tsiwelding </span>

    <a routerLink="/blog/blog" class="w3-bar-item w3-button">Nosotros</a>
    <a routerLink="/nosotros/clientes" class="w3-bar-item w3-button">Servicios</a>
    <a routerLink="/contacto/contacto" class="w3-bar-item w3-button">Contactos</a>


    <span class="example-spacer"></span>


</mat-toolbar>