<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body {
        /* font-family: "Times New Roman", Georgia, Serif; */
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* font-family: "Playfair Display"; */
        letter-spacing: 5px;
    }
</style>

<body>


    <div style="max-width:fit-content" class="center-recuadro">




        <div class="w3-container w3-padding-64 w3-center " id="contact">
            <h2>Mesas de trabajo</h2>
        </div>



        <div fxLayout="row" fxLayoutGap="20px" align-self="center">

            <div fxFlex="30">
                <!-- Barra 3 x 1  #1 -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="">

                        <img fxFlex="70" style="height: 300px;" [src]="imagen1" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen9" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen3" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="w3-container w3-padding-64 w3-center " id="contact">
            <h2>Repisas</h2><br>

        </div>

        <div fxLayout="row" fxLayoutGap="20px" align-self="center">

            <div fxFlex="30">
                <!-- Barra 3 x 1 #2  -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="">

                        <img fxFlex="70" style="height: 300px;" [src]="imagen5" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen1" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen5" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="w3-container w3-padding-64 w3-center " id="contact">
            <h2>Equipo de restaurante</h2><br>

        </div>

        <div fxLayout="row" fxLayoutGap="20px" align-self="center">

            <div fxFlex="30">
                <!-- Barra 3 x 1 #3  -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="">

                        <img fxFlex="70" style="height: 300px;" [src]="imagen3" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen1" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen8" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="w3-container w3-padding-64 w3-center " id="contact">
            <h2>Fabricacion y diseno para industria maquiladora</h2><br>

        </div>

        <div fxLayout="row" fxLayoutGap="20px" align-self="center">

            <div fxFlex="30">
                <!-- Barra 3 x 1 #2  -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="">

                        <img fxFlex="70" style="height: 300px;" [src]="imagen9" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen10" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen1" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">

                        <h5 class="">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- Menu Section -->
    <!-- <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">Tipos de Soldadura</h1><br>
            <h4>Soldadura en Acero inoxidable, en tanques, tuberías(T, ANGULOS, VALVULAS)</h4>
            <p class="w3-text-grey">La técnica TIG resulta uno de los procedimientos más adecuados para soldar el acero inoxidable. El arco eléctrico se establece entre un electrodo de tungsteno y el metal base, bajo una atmósfera protectora generada por un gas inerte. El gas
                inerte que se usa normalmente es el argón.</p><br>

            <h4>Soldadura Hierro colado</h4>
            <p class="w3-text-grey">Soldando. Para reparar rasgaduras o rajaduras; adhiere una pieza de fierro colado, esta servirá como un parche en el lugar donde está la abertura; haciendo que el desperfecto no se note. Ahora bien, usando varillas de soldar de unos dos centímetros
                y medio de largo, acomoda los parches en sus respectivas posiciones.</p><br>

            <h4>Estructuras industriales (paileria) de cualquier metal, ya sea reparación, reconstrucción, producción o maquila.</h4>
            <p class="w3-text-grey">Soldadura con gas metal activo (MAG - "Metal-active gas welding"), proceso 135. Soldadura MAG. La soldadura MAG con electrodo de alambre macizo es el proceso controlado manualmente más utilizado para trabajos en la fabricación en planta; a
                veces se la conoce como soldadura semiautomática o con CO 2.</p><br>

            <h4>Engranes</h4>
            <p class="w3-text-grey">Es un tipo de soldadura heterogénea, es decir, los materiales a soldar pueden ser de la misma o distinta naturaleza, se caracteriza por la utilización de un tipo de material de bajo punto de fusión, por debajo de los 400ºC, normalmente emplea
                el estaño, cuya fusión se produce entre los 200ºC.</p><br>

            <h4>Maquinas industriales de cualquier giro y tamaño</h4>
            <p class="w3-text-grey">Los que más sugerimos son los TEC 200 y TEC 160. Metalworks es de las mejores marcas para este tipo de equipos. Trabaja con arco eléctrico, es decir, aquel tipo de soldadura que genera el calor para fundir los metales a través de un arco eléctrico
                entre un consumible –electrodo recubierto- y la pieza a soldar.</p>
        </div>

        <div class="w3-col l6 w3-padding-large">

        </div>
    </div> -->
</body>

</html>