<app-nav></app-nav>
<router-outlet></router-outlet>
<app-ventanas></app-ventanas>




<!--   RUTAS

<ul>
    <li> <a routerLink="/productos/puertas">Puertas</a></li>
    <li> <a routerLink="/productos/ventanas">Ventanas</a></li>
    <li> <a routerLink="/productos/otros">Otros</a></li>
</ul>

<ul>
    <li> <a routerLink="/nosotros/clientes">Clientes - INICIO</a></li>
    <li> <a routerLink="/nosotros/contactanos">Contactanos</a></li>
    <li> <a routerLink="/nosotros/nosotros">Nosotros</a></li>
</ul> -->