<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

</style>


<!-- Header -->
<header class="w3-display-container w3-content w3-wide carrusell-top" style="max-width:1600px;min-width:500px" id="home">
    <!--  Carrusel -->

    <!-- <mat-carousel timings="250ms ease-in" [autoplay]="true" color="accent" maxWidth="auto" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
    </mat-carousel> -->

    <!-- <img [src]="url" class="w3-image" alt="soldador" width="1600" height="800"> -->

    <!--  Carrusel -->

</header>

<body>






    <!-- Contact Section -->

    <div fxLayout="column" fxLayoutAlign="center none">
        <mat-carousel timings="250ms ease-in" [autoplay]="true" color="accent" maxWidth="auto" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
        </mat-carousel>
    </div>



    <div style="max-width:fit-content" class="center-recuadro recuadro-top">

        <!--  Carrusel -->



        <div fxLayout="row" fxLayoutGap="20px" align-self="center">





            <div fxFlex="30">
                <!-- Barra 3 x 1  -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="">

                        <img fxFlex="70" style="height: 300px;" [src]="imagen1" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">
                        <h1 class="center-text">Cosina de Erreria</h1><br>
                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen9" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">
                        <h1 class="center-text">Cosina de Erreria</h1><br>
                        <h5 class="w3-center">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">

                        <img fxFlex="70" style="height: 300px" [src]="imagen3" class="center-img" alt="imagen-1" width="600" height="750">
                    </div>
                    <div class="w3-col m6 w3-padding-large">
                        <h1 class="center-text">Cosina de Erreria</h1><br>
                        <h5 class="">Tradicional Modelo 1964</h5>
                        <p class="w3-large">
                            Tu cocina es un lugar muy importante en tu casa, hazlo más cálido y funcional con esta cocina integral Marruecos y ¡que todos disfruten tus deliciosas creaciones culinarias! Cuenta con ocho puertas con espacios para colocar desde alimentos, hasta utensilios.
                            Cuenta con tarja doble con mezcladora y jaladeras metálicas. Su fabricación en madera de pino te brinda durabilidad y resistencia, mientras
                            <span class="w3-tag w3-light-grey">*Materiales:*</span> Granito y Acero.</p>
                        <p class="w3-large w3-text-grey w3-hide-medium">que los tableros son de madera industrializada. Su tono en color chocolate y capuccino le dan el toque moderno que tu espacio tanto necesita. Agrégala y haz de tu hogar el más lindo. *Los abonos quincenales, el plazo del crédito
                            y el pago inicial, pueden variar según el margen de crédito y el historial de pago de cada cliente.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>

</body>

</html>